{% extends 'base.html' %}

{% block content %}
<div class="main-panel">
        <div class="content">
          <div class="container-fluid">
          <!-- START FORM -->
          <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Schedule by time</h4>
                        <p class="card-category">Look up available rooms at a given time slot </p>
                    </div>
                    <div class="card-body">
                        <div class="search">
                        <form action="{% url 'schedule' %}" method="POST">
                                {% csrf_token %}
                                <!-- Form Row 1 -->
                                <div class="form-row">
                                  <div class="col-md-6 mb-3">
                                        <label class="">Course</label>
                                        <select name="classes" class="form-control" required>
                                            {% for class in classes%}
                                                {% if class.name == values.classes %}
                                                    <option name="class_name" value="{{ class.name }}" selected >{{ class.name }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    
                                  </div>
                                  <div class="col-md-6 mb-3">
                                        <label class="">Room</label>
                                        <select name="room" class="form-control" required>
                                            <option value="0" selected>0</option>
                                            
                                        </select>
                                  </div>
                                </div>
                                <!-- End Form Row 1 -->
                                
                                <!-- Start Form Row 3 -->
                                <div class="form-row">
                                   
                                    <div class="col-md-4 mb-4">
                                            <label>Capacity</label>
                                        <input type="number" name="capacity" placeholder="Capacity" class="form-control" required>
                                    </div>
                                    <div class="col-md-4 mb-4 mt-1">
                                        <label for="">CRN</label>
                                        <input type="text" name="crn" placeholder="CRN" class="form-control" required>
                                    </div>
                                    <div class="col-md-4 mb-4 mt-1">
                                        <label for="">Offering</label>
                                        <input type="text" name="offering" placeholder="Offering" class="form-control" required>
                                    </div>
                                </div>
                                <!-- End Form Row 3 -->
                                <!-- Start Form Row 4 -->
                                <div class="form-row">
                                    <div class="col-md-12 mb-3 d-inline text-center">
                                        <h4>Optionals: <small>(Default value in paraenthesis) </small></h4>
                                        
                                    </div>
                                </div>
                                <!-- End Form Row 4 -->
                                <!-- Start Form Row 5 -->
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="flex" placeholder="Term Flex(1)" class="form-control" >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="name" placeholder="Name(None)" class="form-control" >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="banner_id" placeholder="Banner ID(None)" class="form-control" >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="primary" placeholder="Primary(None)" class="form-control" >
                                    </div>
                                </div>
                                <!-- End Form Row 5 -->
                                <!-- Start Form Row 6 -->
                                <div class="form-row">
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="building" value="WB" class="form-control" disabled >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="campus" placeholder="Campus(M)" value="OFF" class="form-control" disabled >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="delivery" value="WB" class="form-control" disabled>
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <input type="text" name="notes" placeholder="Notes(None)" class="form-control" >
                                    </div>
                                </div>
                                <!-- End Form Row 6 -->

                                


                            
                            <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                <!-- END FORM -->
            
          </div>
        </div>
      </div>
{% endblock %}