#header {
    background: #A71930;
    color: #fff;
}

#branding h1 {
    color: #fff;
}

a:link,
a:visited {
    color: #A71930;
}

div .breadcrumbs {
    background: #690717;
    color: #696969
}

div .breadcrumbs a  {
    color: #fff;
}

.module h2, .module caption, .inline-group h2 {
    background: #690717;
}

.button.default, input[type=submit].default, .submit-row input.default {
    background: green !important;
}
.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #696969;
}
.selector-chosen h2 {
    background: #690717 !important;
}